/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the font family */
body {
    font-family: Cursive, sans-serif;
}

/* Style the container to cover the entire viewport */
.container {
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/iron-man.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Added for z-index */
}

/* Style the card */
.card {
    width: 90%;
    max-width: 400px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1; /* Ensure card is above the particles */
}

/* Style the card's image */
.card img {
    width: 140px;
    border-radius: 50%;
}

/* Style the card's heading */
.card h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px; /* Adjusted from 20% to 20px */
}

/* Style the card's text */
.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}

/* Style the links icons in the card */
.card .links img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.card .links img:hover {
    background: #ff01cf;
}

/* Style the "View Portfolio" button */
.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}

/* Style the Particle.js background */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place Particle.js behind other content */
}
