* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", Arial, sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #eb3636;
}

/* Toggle Switch Styles */
.toggle-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    width: 60px;
    height: 30px;
    background: #ccc;
    display: block;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.toggle-switch label .toggle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    transition: all 0.3s;
}

.toggle-switch label .sun {
    left: 5px;
    color: #ff0;
}

.toggle-switch label .moon {
    right: 5px;
    color: #00f;
    opacity: 0;
}

.toggle-switch input[type="checkbox"]:checked + label .sun {
    opacity: 0;
}

.toggle-switch input[type="checkbox"]:checked + label .moon {
    opacity: 1;
}

.toggle-switch input[type="checkbox"]:checked + label {
    background: #4e4e4e;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/iron-man.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Night Mode Styles */
body.night-mode {
    background-color: #121212;
    color: #fff;
}

body.night-mode .container {
    background-image: url(assets/images/night.jpg);
}

body.night-mode .card {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.card {
    width: 90%;
    max-width: 400px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.card img {
    width: 140px;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.card h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20%;
}

.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}

.card .links img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.card .links img:hover {
    background: #ff01cf;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}

body.night-mode .btn {
    background: #4e4e4e;
    color: #fff;
}
